@model Team1_FinalProject.Models.Ticket

@{
    ViewData["Title"] = "Create";
}

// in the GET method for Create in the TicketsController, use if statement to see if they are old enough, otherwise return an Error message
<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            // do drop down list; use SeatClaim as boolean to verify if a seat for the Showing was taken yet.
            <div class="form-group">
                <label asp-for="SeatNumber" class="control-label"></label>
                <input asp-for="SeatNumber" class="form-control" />
                <span asp-validation-for="SeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

