@model Team1_FinalProject.Models.ReportViewModel

@{
    ViewData["Title"] = "DisplayCustomerReport";
}

<h1>Display Customer Report</h1>

<hr />
<div class="row">
    <div class="col-md-4">

    </div>
</div>