@model Team1_FinalProject.Models.ReportViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Generate Report</h1>

<hr />
<a asp-action="DecisionReport">Decision Report</a> |
<a asp-action="CustomerSearch">Customer Report</a> |
<a asp-action="PPReport">Popcorn Points Report</a>
