@model Team1_FinalProject.Models.ReportViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Generate A New Report</h1>

<hr />
<p class="text-center">
    <a class="btn btn-primary" asp-action="DecisionReport">Aggregate Performance Report</a>
    <a class="btn btn-primary" asp-action="CustomerSearch">Customer Order Report</a>
    <a class="btn btn-primary" asp-action="PPReport">Popcorn Points Report</a>
</p>