@model Team1_FinalProject.Models.CheckoutForViewModel

@{
    ViewData["Title"] = "Create Tickets For Customer";
}

<h1>Select</h1>

<h4>Select the order you wish to complete.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckoutFor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectOrderID" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedOrderID, (SelectList)ViewBag.AllOrders, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>