@model Team1_FinalProject.Models.Order

@{
    ViewData["Title"] = "Thank You!";
}

<h1>Order #</h1>
<h1>@ViewBag.OrderNumber<h1>
<h1>Thank you for visiting Main Street Movies!</h1>
<h2>A confirmation message was sent to the email on file.</h2>


    <a asp-action="Index" asp-controller="Home" class="btn btn-success">Back to Home</a>

