@model Team1_FinalProject.Models.SearchViewModel

@{
    ViewData["Title"] = "Movie Search";
}

<h1>Movie Search</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DisplayShowingSearchResults" asp-controller="Showings">
            <div class="form-group">
                <label asp-for="SearchShowingDateStart" class="control-label"></label>
                <input asp-for="SearchShowingDateStart" class="form-control" />
                <label asp-for="SearchShowingDateEnd" class="control-label"></label>
                <input asp-for="SearchShowingDateEnd" class="form-control" />
                <span asp-validation-for="SearchShowingDateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SearchShowingTimeStart" class="control-label"></label>
                <input asp-for="SearchShowingTimeStart" class="form-control" />
                <label asp-for="SearchShowingTimeEnd" class="control-label"></label>
                <input asp-for="SearchShowingTimeEnd" class="form-control" />
                <span asp-validation-for="SearchShowingTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectMovieID" class="control-label"></label>
                @Html.ListBoxFor(model => model.SelectMovieID, (MultiSelectList)ViewBag.AllAvailableMovies, new { @class = "form-control" })
                <span asp-validation-for="SelectMovieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

